.autowidth{
    max-width: 1200px;
}
#title{
    font-size: 1rem;
    top:-130px
}
.completed-all{
    margin-left: 20px;
    float:left;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}
.invert-completed{
    margin-left: 20px;
    float:left;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}